body{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-place{
    display: flex;
    width: 90vw;
    flex-direction: row;
    justify-content: right;
}

.additional-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.header{
    width: 90vw;
    display: flex;
    flex-direction: column;
}

#content-id{
    display: flex;
    flex-direction: column;
    width: 90vw;
}

.active {
    color: white;
    background-color: chocolate;
}

#main-menu-section-id{
    display: flex;
    width: 90vw;
    flex-direction: column;
}

#page-controller-id{
   width: 90vw;
}

@media(min-width: 650px){

    .header{
        display: flex;
        flex-direction: row;
    }

    #main-menu-section-id{
        justify-content: left;
        align-items: center;
        flex-direction: row;
    }
     
}

